body {
  background-color: rgb(213, 213, 228);
  color: rgb(60, 15, 15);
  font-size: 18px;
  font-weight: normal;
  font-family: "Calibri", Times, sans-serif;
}

.info{
  margin-bottom: 20px;
}


.list {
padding: 0 25px;
}

.list li {
  margin-bottom: 10px;
color: rgb(60, 15, 15);
font-weight: bold;
}

.table {
  width: 100%;
}

.table {
  padding-bottom: 10px;
}
.table td{
  margin-bottom: 10px;


}
/** {
  margin: 0;
  padding: 0;
}*/

a {
  color: green;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
a:active {
  color: blue;
  text-decoration: underline;
}
a:visited {
  color: rgb(72, 96, 25);
  text-decoration: none;
}



.Rickavatar { 
  width: 200px;
  border-radius: 35px;
 box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}
.info p {
  color: #868786;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
 /* text-transform: uppercase; */
/* letter-spacing: 10px;*/
word-spacing: 5px;
}
/*BOX MODEL
.social {
  background-color: greenyellow;
  padding: 20px;
  border: 10px solid black;
  border-bottom-style: dotted;
  margin: 30px;
}


.box-model > div{
background: #000;
height: 200px;
float: left;
width: 25%;
margin-top: 30px 0 0 0;
border: 5px solid #fff;
box-sizing: border-box;
}*/ 
.card {
  margin-left: 20px;
padding:  15px 20px;
background: #ead0d0;
margin-bottom: 20px;
border-radius: 30px;
}

.container {
  width: max-width: 750px;
margin: 50px;
}



.bg-yellow {
background: #ead0d0;
}

.bg-green {
background: #89da90;
}

.bg-red {
background: #f29e9e;
}